<h4> Create a new category</h4>

<%= render 'shared/errors', object: @category%>

<%= form_for @category do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br/>
  <%= f.submit 'Create Category', class: "btn btn-primary" %>
<% end%>